body {
  background-color: #5e6375;
  font-family: 'Source Sans Pro', sans-serif;
}
.button-class {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #4caf50;
}

ul {
  list-style: none;
}

.list-group {
  margin: 10px;
  margin-top: 100px;
}

.list-group-item {
  border: none;
  width: 100%;
  padding: 12px 28px;
  font-family: inherit;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}

button.btn.btn-block {
  font-size: 18px;
  font-weight: bold;
  padding: 2px 4px;
}
