body {
  background-color: #def6b7;
  font-family: 'Source Sans Pro', sans-serif;
}
.button-class {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #4caf50;
}
#modal-container {
  display: none;
}
#modal-container.is-visible {
  /* CSS for modal container - add your own desired CSS styles here */
  display: block;
  position: fixed;
  padding: 20px;
  box-sizing:border-box;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:  rgba(0, 0, 0, 0.5);
  display: grid;
  text-align: center;
  z-index: 999;
  overflow: auto;
}

.modal{
  display: inline-block;
  margin: auto;
  box-sizing: border-box;
  background: #fff;
  width:100%;
  padding: 20px;
  max-width:700px;
  text-align: center;
}

.modal-close{
  float: right;
  border:0;
  background: none;
  color:red;
  text-decoration: underline;
  cursor: pointer;
}

.img-element{
  height:100px;
  width: 100px;
}
