body {
  background-color: #def6b7;
  font-family: 'Source Sans Pro', sans-serif;
}
.button-class {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #4caf50;
}
#modal-container {
  display: none;
}
#modal-container.is-visible {
  /* CSS for modal container - add your own desired CSS styles here */
  display: block;
  background-color: azure;
  padding: 20px;
  display: inline-block;
  text-align: center;
  margin: auto 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 50%;
  z-index: 999;
  width: 200px;
  height: 401px;
}
